body
{
	background-image: url(bg.jpg);
	background-repeat: no-repeat;
	background-size:cover;
	background-position: all;
	background-attachment: fixed;
}	
.konten{
	padding-top: 1%;
}

.menu{
	padding-top: 2%;
}
.text{
	color: white;
 	padding-top: 5%;
}
#pinggir{
	padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;

}
.highlight{
	background-color: #9964396e;
}
.p{
	color: white; 
	text-align: center; 
	padding-bottom: 2%;
}
.white{
	color: white;
}
.footer{
	background-color: #4b1f06;
	margin-top: 1%;
	padding-bottom: 2%;
}

#glry{
	text-align: center;
    background-color: #673b22c9;
    padding-top: 1%;
    padding-bottom: 1%;
}